*{
  font-family: "Gill Sans", sans-serif;
  font-size: 22px;
}

body{
  margin: 0px;
  padding: 0px;
  background: linear-gradient(120deg,#2980b9, #a7afb4);
  background-position: center;
  height: 100vh;
}

/* Loginbody */
.box{
  width: 400px;
  height: 450px;
  background: white;
  top: 37.7%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

h1{
  margin-top: -20px;
  padding:  -10px 30px 20px;
  text-align: center;
  font-size: 25px;
}

h2{
  margin-top: -10px;
  padding:  -10px 30px 20px;
  text-align: center;
  font-size: 25px;
}

.box p{
  margin: 0px;
  padding-left: 2px;
  font-size: 16px;
}

.box input[type="text"], input[type="password"], input[type="mail"] {
  border: none;
  border-bottom: 1px solid #a7afb4;
  background: transparent;
  outline: none;
  height: 40px;
  color: #626668;
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
}

.box s{
  font-size: 40px;
}
  
.submit
{
  border: none;
  outline: none;
  height:40px;
  background:#2691d9;
  color:#e9f4fb;
  font-size: 18px;
  border-radius: 20px;
  cursor:pointer;
  width: 100%;
  margin-bottom: 20px;
}

.reset
{
  border: none;
  outline: none;
  height:40px;
  background:#2691d9;
  color:#e9f4fb;
  font-size: 18px;
  border-radius: 20px;
  cursor:pointer;
  width: 100%;
  margin-bottom: 20px;
}

.link a{
  text-decoration: none;  /* Remove underline */
  font-size: 14px;
  color:#2691d9;
}

.link a:hover{
  color:#111212;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  border-bottom: 5px solid black;
  padding-top:25px ;
  top: 0;
  font-size:20px;
  text-align: center;
  height:60px;
  background: white;
  color: black;
}